{% extends "layouts/base-site-fullscreen.html" %}

{% block title %} Ошибка 404 {% endblock %}

{% block content %}
        
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>
                Ошибка 404
            </h4>
        </header>
        <div class="body text-center">

            <span>
                Такой страницы не существует...
            </span>
            <br>
            
            <br />

            <div class="form-actions">
                <a class="forgot" href="/" >На главную страницу</a>
            </div>

        </div>

    </section>

{% endblock content %}
